<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table tr td{
            border:  dimgray solid;
        }
    </style>
</head>
<body>
<div align="center">
    <form method="post" th:action="@{/carModifyController(id=${session.car.getId()})}">
        <table style="border:  dimgray solid;">
            <tr>
                <td align="right">车牌号：</td>
                <td><input type="text" name="carNum" th:value="${session.car.getCarNum()}"></td>
            </tr>
            <tr>
                <td align="right">品牌：</td>
                <td><input type="text" name="carBrand" th:value="${session.car.getCarBrand()}"></td>
            </tr>
            <tr>
                <td align="right">载重：</td>
                <td><input type="text" name="carWeight" th:value="${session.car.getCarWeight()}"></td>
            </tr>
            <tr>
                <td align="right">公里数：</td>
                <td><input type="text" name="carMile" th:value="${session.car.getCarMile()}"></td>
            </tr>
            <tr>
                <td align="right">状态：</td>
                <td><input type="text" name="carPress" th:value="${session.car.getCarPress()}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="修改">
                    <span style="color: red" th:text="${msg}"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>